:root {
    --background-color: #99aee7;
    --button-color: #ffa256;

    /* border radius */
    --border-radius-1: .5rem;
    --border-radius-2: .8rem;
    --border-radius-3: 1rem;
    --border-radius-4: 2rem;
}
.allClasses {
    min-height: 15vh;
    max-width: 93vw;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(4,minmax(30vh, 40vw));
    gap: 2rem;
}
.class {
    min-width: 22vw;
    padding: 0 2rem;
    border-radius: var(--border-radius-2);
    cursor: pointer;
    background-color: aqua;
}
.classTitle,
.classDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons #delete {
    color: #ff0000;
    margin-left: 0.8rem;
}
.addNew {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}