.graph-container {
  width: 50vw;
  margin-top: 10vh;
  font-family: var(--ff-secondary);
  border-radius: 10px;
  background-color: #98d8f158;
}
/* @media screen and (max-width: 800px) {
  .graph-container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller 
  }
} */