* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    margin: auto;
    background-color: #919194;
}

.nav-bar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}