@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    height: 100vh;
    background-color: var(--body-color);
    scroll-behavior: smooth;
}

.AllHeader {
    width: 100vw;
    margin: auto;
    position: fixed;
    background: rgb(10,21,70);
    background: linear-gradient(45deg, rgb(53, 78, 191) 26%, rgba(65,210,240,1) 100%);
    z-index: 1;
}

.nav-bar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.schoolDetails h3
{
    color: #fdfdfd;
}
.sideBar {
    position: fixed;
    padding-top: 4rem;
    width: 14vw;
    background-color: #bfd7ff;
    height: 100%;
    box-shadow: rgb(158, 157, 157) 1px 1px 1px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.MenuLists li   
{
   
   font-family: var(--f-secondary);
   font-size: 18px;
    text-transform: capitalize;
    display: block;
    padding: 0.75rem ;
    cursor: pointer;
    align-items: center;
    grid-area: 1 / 1 ;
   border-radius: 0 20px;
   transition: all ease 0.1s ;
   
}
.sideBar .MenuLists li .nav-link .arrow
{
    
    font-size: 24px;
   
}


.MenuLists li:hover
{
    background: rgb(101, 101, 243);
    color: #fff;
    border-radius: 0 20px;
  
}

 .sideBar .MenuLists li .sub-menu 
{
    text-decoration: none; 
    display: none;
   
}

.sideBar .MenuLists li.showmenu .sub-menu   {
    display: block;
    
}

.sideBar .MenuLists li .sub-menu a
{
    font-family: var(--f-secondary);
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
    white-space: nowrap;
    transition: all ease 0.1s;
    backdrop-filter: blur(10px);
}
.sideBar .MenuLists li .sub-menu :hover
{
    color: #fff;
    background-color: #2196f3d6;
   
    
}
 .MenuLists.close li .sub-menu 
{
    position: absolute;
    left: 0.5%;
    top: 0;
    margin-top: 10rem;
    
}
.MenuLists li .money
{
    text-decoration: none;
    color: black;
    background: rgba(4, 100, 243, 0.568);
    border-radius: 10px;
    margin-left: 100%;
    display: none;
}
.sideBar .MenuLists li .money 
{
    font-family: var(--f-secondary);
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
    white-space: nowrap;
}
.MenuLists.close li .money 
{
    position: absolute;
    left: 0.5%;
    top: 0;
    margin-top: 20rem;
}


.container
{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 0fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  
}
.totalstudents
{
  
    height: 8rem;
    width: 15rem;
    background: #2196f3d6;
    border-radius: 12px ;
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 18rem;
}
.totalemployees
{

    height: 8rem;
    width: 15rem;
    background: #2196f3d6;
    border-radius: 12px;
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 80px;
}
.totalcourses
{

    height: 8rem;
    width: 15rem;
    background: #2195f3d6;
    border-radius:12px;
    grid-area: 2 / 3 / 3 / 4;
    margin-left: -100px;
}
.totalstudents:hover,
.totalemployees:hover,
.totalcourses:hover
{

    box-shadow:  3px 3px 10px #bebdbd,
    -3px 3px 20px rgb(148, 146, 146);
transition: linear 0.2s;
} 

.totalstudents i, .totalemployees i, .totalcourses i
{
    color: white;
    margin-left: 20px;
    font-size: 50px;
   padding-top: 10px;
}
.totalstudents h3, .totalemployees h3, .totalcourses h3
{
    color: white;
    padding-left: 10px;
}
.container .panel
{
    height: 8rem;
    width: 54rem;
    background-color: #f9c8c9d5;
  margin-top: 30px;
    padding-top: 20px;
    border-radius: 10px;
    grid-area: 4 / 1 / 5 / 4;
    margin-left: 18rem; 
   
}

.container .panel span
{
   
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-left: 10px;
        justify-content: space-evenly;
       
      
      
}
.container .panel p
{
    font-family: var(--ff-secondary);
    font-size: 18px;
     text-transform: capitalize;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-top: 5px;
}
.container .panel img
{
    position: absolute;
    height: 10rem;
    width: 12%;
    margin-top: -100px;
    margin-left: 28rem;
}
/* @media screen and (max-width: 500px) {
     .container   {
      width: 50%; 

    }
  } */